# Default Environment
env=staging
browser=chrome
headless=true

# Staging Environment
api.base.url=https://smspy-backend-pre.onrender.com/api/
base.url.login=https://smspy-frontend-pre.onrender.com/
base.url.messages=https://smspy-frontend-pre.onrender.com/messages
base.url.messages.send=https://smspy-frontend-pre.onrender.com/messages/send
base.url.profile=https://smspy-frontend-pre.onrender.com/profile

bryan1.password=***

# Observability
screen.recording.enabled=false
